# compiled output
/server-api/dist
/server-api/node_modules

# Logs
/server-api/logs
/server-api/*.log
/server-api/npm-debug.log*
/server-api/npm-debug.log*
/server-api/yarn-debug.log*
/server-api/yarn-error.log*
/server-api/lerna-debug.log*

# OS
.DS_Store

# Tests
/server-api/coverage
/server-api/.nyc_output

# IDEs and editors
/server-api/.idea
/server-api/.project
/server-api/.classpath
/server-api/.c9/
/server-api/*.launch
/server-api/.settings/
/server-api/*.sublime-workspace

# IDE - VSCode
/server-api/.vscode/*
/server-api/!.vscode/settings.json
/server-api/!.vscode/tasks.json
/server-api/!.vscode/launch.json
/server-api/!.vscode/extensions.json